*{
    padding: 0;
    margin: 0;
}


.general{
    overflow: hidden;
}

.container{
height: auto;
width: 100%;
display: grid;
place-content: center;
}

.slide{
width: 100vw;
max-width: 100%;
max-height: 420%;
height: 720%;
overflow: hidden;
border-radius: 10px;
}


.slide ul{
    display: flex;
    padding: 0;
    width: 190%;
    list-style: none;
    animation: mover 8s infinite alternate ease-in-out;
}


@keyframes mover {
    0%{margin-left: 0%}
    100%{margin-left: -97%}


}


h1{
    position: relative;
    color: red;
    font-size: 3em;
    width: 4%;
    margin-left: 1%;
}




/*Seccion 2*/

.linea-temporal{
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Fin de seccion 2*/

/*Seccion 3*/

.logotipo{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Fin de seccion 3*/

/*Seccion 4*/
.text{
    width: 50%;
    height: auto;
    padding: 10px;
    background-color:#FEB902;
    border-radius: 12px; 
    font-size: 3em; 
    text-align: center;
    color: red;
    margin-left: 25%;
}

/*fin de seccion 4*/

/*Seccion-5*/
#slider-2{
    width: 135%;
    height: 150px;
    background-color: #ffff;
}

#contenedor-2{
    display: flex;
    width: 300%;
    height: 100%;
    animation: logos 50s infinite alternate ease-in-out; 
}
#logo-1{
    width: 550px;
    height: 145px;
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/Cine\ Colombia.png);
}

#logo-2{
    width: 550px;
    height: 145px;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Cineland.png);
}
#logo-3{
    width: 550px;
    height: 145px;
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Cocheros.png);
}
#logo-4{
    width: 650px;
    height: 145px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Colsubsidio.png);
}
#logo-5{
    width: 550px;
    height: 145px;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Grupo\ exito.png);
}
#logo-6{
    width: 550px;
    height: 145px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-image: url(../img/Jeronimo\ Martins.png);
}
#logo-7{
    width: 500px;
    height: 145px;
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Jumbo.png);
}
#logo-8{
    width: 500px;
    height: 145px;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/kokoriko.png);
}
#logo-9{
    width: 400px;
    height: 145px;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Metro.png);
}
#logo-10{
    width: 350px;
    height: 145px;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Olimpica.png);
}
#logo-11{
    width: 500px;
    height: 145px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/OXXO.png);
}
#logo-12{
    width: 500px;
    height: 145px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Quality\ Foods\ Panama.png);
}
#logo-13{
    width: 500px;
    height: 145px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Royal_films.png);
}
    
@keyframes logos {
    0%{margin-left: 0%}
    100%{margin-left: -222%;}
}
/*fin de seccion 5*/