.general{
    width: 1349px;
    height: 3440px;
    overflow: hidden;
    margin: auto;
    background-position: center;
    position: relative;
}

.main{
    width: 1348px;
    height: 3142px;
    background-color: grey;
}

#slider{
    width: 3000px;
    height: 500px;
    overflow: hidden;
}

#contenedor{
    display: flex;
    width: 100%;
    height:500px;
    animation: mover 12s infinite alternate ease-in-out; 
}

#imagen-1{
    width: 104%;
    height: 500px;
    background-repeat: no-repeat;
    background-image: url(../img/2.webp);
}

#imagen-2{
    width: 112%;
    height: 500px;
    margin-left: -6%;
    background-repeat: no-repeat;
    background-image: url(../img/1.webp);
}


h1{
    position: relative;
    color: red;
    font-size: 3em;
    width: 4%;
    margin-left: 1%;
}

@keyframes mover {
    0%{margin-left: 0%}
    25%{margin-left: 0%;}
    75%{margin-left: -45%;}
    100%{margin-left: -45%}
}


.linea-temporal{
    width: 100%;
    height: 2000px;
    margin-top: -4px;
    background-color: #ffff;
}


.logotipo{
    width: 100%;
    height: 400px;
    background-color: #ffff;
}

.text{
    width: 1329px;
    height: 80px;
    padding: 10px;
    background-color: #ffff;
}
#slider-2{
    width: 135%;
    height: 150px;
    background-color: #ffff;
}

#contenedor-2{
    display: flex;
    width: 300%;
    height: 100%;
    animation: logos 50s infinite alternate ease-in-out; 
}
#logo-1{
    width: 550px;
    height: 145px;
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/Cine\ Colombia.png);
}

#logo-2{
    width: 550px;
    height: 145px;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Cineland.png);
}
#logo-3{
    width: 550px;
    height: 145px;
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Cocheros.png);
}
#logo-4{
    width: 650px;
    height: 145px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Colsubsidio.png);
}
#logo-5{
    width: 550px;
    height: 145px;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Grupo\ exito.png);
}
#logo-6{
    width: 550px;
    height: 145px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-image: url(../img/Jeronimo\ Martins.png);
}
#logo-7{
    width: 500px;
    height: 145px;
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Jumbo.png);
}
#logo-8{
    width: 500px;
    height: 145px;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/kokoriko.png);
}
#logo-9{
    width: 400px;
    height: 145px;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Metro.png);
}
#logo-10{
    width: 350px;
    height: 145px;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Olimpica.png);
}
#logo-11{
    width: 500px;
    height: 145px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/OXXO.png);
}
#logo-12{
    width: 500px;
    height: 145px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Quality\ Foods\ Panama.png);
}
#logo-13{
    width: 500px;
    height: 145px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Royal_films.png);
}
    
@keyframes logos {
    0%{margin-left: 0%}
    100%{margin-left: -222%;}
}


.footer{
    width: 100%;
    height: 5.6%;
    margin-top:1.5px;
}