.general{
    overflow: hidden;
}

.container{
    width: 100vw;
    max-height: 720px;
    display: flex;
    
    }
    
    .slide{
    width: 100vw;
    overflow: hidden;

    }
    
    .slide ul{
        padding: 0;
        width: 100%;
        height: auto;
        display: flex;
        list-style: none;
        animation: mover 15s infinite alternate ease-in-out;
    }
    
    
    @keyframes mover {
        0%{margin-left: 0%}
        100%{margin-left: -95%}
    
    
    }
    
    

/*Seccion-2*/

#seccion-2{

    width: 100%;
    height: auto;
    position: relative;
    margin-top: -0.5%;
    background-size: 100%;
    background-position: cover;
    background-image: url(../img/COLLAGE_Mesa\ de\ trabajo\ 1.jpg);
}


.form-parent{
width: 40%; 
height: 550px;
background-color: #F1F1F1;
/* border-radius: 15px; */
position: relative;
margin: 10px 0 12px;
margin-left: 28%;
padding: 20px;
}

.campo{
    max-width: 1000px;
    max-height: 50px;
    margin-top: 5%;
    padding: 14px;
    display: flexbox;
    /* border-radius: 12px; */
    margin-left: 35px;
    background-color: #e8ca53;
    border: none;
}
.campos{
    margin-top: 5%;
    padding: 14px;
    display: flexbox;
    /* border-radius: 12px; */
    margin-left: 35px;
    background-color: #e8ca53;
    border: none;
}



.desplegable{
    width: 100px;
}
#captcha-content{
    margin-top: 2%;
    padding: 2px;
    display: flexbox;
    border-radius: 12px;
    margin-left: 35px;
}
#code{
    width: 100px;
    height: 25px;
    /* background-color: #e8ca53; */
    border: none;
}
.links a{
 text-decoration: none;
 display: block;
 padding: 4px;
 color: #000;
 border: none;
 text-align: center;
 overflow: hidden;
}

.links{
    width: 206px;
    margin-top: 24%;
    margin-left: 35%;
    background-color: #e8ca53;
    /* border-radius: 11px; */
    border: none;
    padding: 12px;
    position: relative;
    color: gray;
}

.links a:hover{
    background-color: #F1F1F1;
    
}

.desplegable:hover .links{
    display:block;
}


.comentarios{
    width: 90%;
    height: auto;
    max-width: 700px;
    max-height: 700px;
    position: relative;
    margin-top: 2%;
    margin-left: 5%;
}


.enviar{
    width: 90%;
    height: 4%;
    margin-top: 4%;
    font-size: 1em;
    margin-left: 2%;
    font-family: arial;
    color: #fff;
    text-align: center;
    padding: 12px;
    background-color: #2d0266;
    border-radius: 11px;
    border: none;
    cursor: pointer;
}

.enviar:hover{
    background-color: #2d0266;
    opacity: 50%;
    border-color: #ec8600;
}

#messages{
    margin-top: 2%;
    margin-left: 3%; 
}
#save-message{
    color: #45cccc;
    display: none;
}
#error-message{

    color: red;
    display: none;
}
/*Fin de seccion-3*/



/*Seccion-3*/
.maps{
    width: 136%;
    height: 400px;
}
/*Fin de seccion-3*/

.disabled {
    pointer-events: none;  /* Deshabilita los eventos de clic */
    opacity: 0.6;  /* Cambia la apariencia para que parezca deshabilitado */
    background-color: #d3d3d3;  /* Cambia el color de fondo para parecer deshabilitado */
    cursor: not-allowed;  /* Cambia el cursor al pasar por encima del botón */
}