body { padding-top: 100px; }
.general{
    overflow: hidden;
}

.btn-wsp{
    position: fixed;
    width: 300px;
    height: 150px;
    line-height: 55px;
    margin-left: 1050px;
    bottom: 30px;
    border-radius: 12px;
    z-index: 999;
    right: -1%;
}


/*Seccion-2*/

#seccion-2{
    /* padding-right: 20%; */
    background-size: cover;
    background-image: url(../img/COLLAGE_Mesa\ de\ trabajo\ 1.jpg);
}


.form-parent{
/* width: 40%;  */
height: 550px;
background-color: #F1F1F1;
/* border-radius: 15px; */
/* position: relative;
margin: 10px 0 12px;
margin-left: 28%; */
padding: 20px;
}

.campo{
    max-width: 1000px;
    max-height: 50px;
    margin-top: 5%;
    padding: 14px;
    display: flexbox;
    /* border-radius: 12px; */
    margin-left: 35px;
    background-color: #e8ca53;
    border: none;
}
.campos{
    margin-top: 5%;
    padding: 14px;
    /* display: flexbox; */
    /* border-radius: 12px; */
    margin-left: 35px;
    background-color: #e8ca53;
    border: none;
}

div#desplegable-2{
    width: 40%;
    margin-left: -7.3%;
}


#captcha-content{
    margin-top: 2%;
    padding: 2px;
    display: flexbox;
    border-radius: 12px;
    margin-left: 35px;
}
#code{
    width: 100px;
    height: 25px;
    /* background-color: #e8ca53; */
    border: none;
}
.links a{
 text-decoration: none;
 display: block;
 padding: 4px;
 color: #000;
 border: none;
 text-align: center;
 overflow: hidden;
}

.links{
    width: 206px;
    margin-top: 24%;
    margin-left: 35%;
    background-color: #e8ca53;
    /* border-radius: 11px; */
    border: none;
    padding: 12px;
    position: relative;
    color: gray;
}

.links a:hover{
    background-color: #F1F1F1;
    
}

.desplegable:hover .links{
    display:block;
}


div#contendor-blanco{
    height: auto;
}


.comentarios{
    width: 90%;
    height: auto;
    position: relative;
    margin-left: 2%;
}


.enviar{
    width: 90%;
    margin-top: 4%;
    font-size: 1em;
    margin-left: 2%;
    font-family: arial;
    color: #fff;
    text-align: center;
    padding: 12px;
    background-color: #2d0266;
    border-radius: 11px;
    border: none;
    cursor: pointer;
}

.enviar:hover{
    background-color: #2d0266;
    opacity: 50%;
    border-color: #ec8600;
}

#messages{
    margin-top: 2%;
    margin-left: 3%; 
}
#save-message{
    color: #45cccc;
    display: none;
}
#error-message{

    color: red;
    display: none;
}
/*Fin de seccion-3*/



/*Seccion-3*/
.maps{
    width: 102%;
    height: 400px;
}
/*Fin de seccion-3*/

.disabled {
    pointer-events: none;  /* Deshabilita los eventos de clic */
    opacity: 0.6;  /* Cambia la apariencia para que parezca deshabilitado */
    background-color: #d3d3d3;  /* Cambia el color de fondo para parecer deshabilitado */
    cursor: not-allowed;  /* Cambia el cursor al pasar por encima del botón */
}

@media only screen and (max-width: 478px) {
    .btn-wsp img {
      width: 65%;
      height: 65%;
    }
    .btn-wsp {
     right: -25%;
    }
  }