*{
  margin: 0;
  padding: 0;

}


div#container-fluid{
  overflow: hidden;
}



/*seccion 0*/


div#seccion-0{
  height: auto;
  background-image: url(../img/31cf39_0a52ef63125b4bdeb6b244610d783645~mv2\(1\).png);
  background-size: cover;
  position: relative;
}

div#texto-1{
  height: auto;
  margin-left: 15%;
  margin-top: 5% ;
  position: relative;
  animation-name: mtexto;
  animation-duration: 2s;
}

@keyframes mtexto{
  0% { opacity: 0%; right: 50%;}
  100% { opacity: 100%; right: 0%;}
}

.buton-1{
  background-color: #ffff;
    color: #AA2103;
    cursor: pointer;
    padding: 12px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid #AA2103;
}

.buton-1:hover{
  color: white;
  background-color: #FF4A23;
}



div#imagen-1{
  height: 100%;
  margin-top: 15%;
  margin-left: 35%;
  position: relative;
  transform: rotate(15deg);
  animation-name: movimiento;
  animation-duration: 2s;

}

@keyframes movimiento {
  0% { opacity: 0%; left: 90px;}
  100% { opacity: 100%; left: 0px;}

}



.img-papas{
  max-width: 100%;
  height: auto;
  position: absolute;
  height: auto;
  margin-top: -5%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  
}


/*Seccion 1*/


div#seccion-1{
  background-image: url(../img/fondo.png);
  background-size: cover;
}


.product-home{
  width: 100%;
  height: auto;
  margin-top: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(29deg);
}



.product-home-2{
  width: 80%;
  text-align: center;
  height: auto;
  margin-left: 10%;
  display: block;
  margin-top: 1%;
  padding: 0px 30px 0px;
}

.papas-pollo{
  position: relative;
  z-index: 999;
}


.imagen-p{
  margin-top: -30%;
  position: relative;
}


/*Seccion-2*/

.seccion-2{
  max-width: 101.8%;
  height: auto;
  margin-left: -1%;
  background-size: cover;
  position: relative;
}


/*Seccion-3*/
.seccion-3{
  height: auto;
  background-image: url('../img/31cf39_0a52ef63125b4bdeb6b244610d783645~mv2\(1\).png') ;
  background-size: cover;
}


.mesa{
  width: 100%;
  height: 90%;
}

.boton-2{
    padding: 1%;
    text-decoration: none;
    background-color: #ffff;
    color: #AA2103;
    border-radius: 15%;
    border: 1px solid #AA2103;
    position: relative;
}
.boton-2:hover{
    color: white;
    background-color: #FF4A23;
}



/*Seccion-4*/
.container-4{
  background-size: cover;
  background-position: left;

}

/*Seccion-5*/


div#seccion-5{
  background-image: url(../img/azul\ fondo\ Mesa\ de\ trabajo\ 1.png);
  background-size: cover;
}

.product-home-1{
  height: auto;
  margin-top: 1%;
  margin-left: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.start-2{
  height: 50%;
  
  
}

/*Seccion-6*/
div#seccion-6{
  height: 30em;
  background-image: url(../img/novedadesMesa\ de\ trabajo\ 1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 110%;
}


.text-center-1{
  font-size: 7EM; 
  font-family: arial black; 
  color: #FFFF; 
  margin-left: 35%;
  padding-top: 150px;
}


/*Seccion-7*/

div#seccion-7{
  width: 100%;
  background-image: url('../img/Imagen2.webp');
  background-size: cover;
  margin-left: 0.1%;
}

div#container-7{
  width: 30%;
  height: 50%;
  padding: 25px;
  margin: 12% 35% 15%  ;
  background: #ffff;

}





/*Seccion-8*/
.boton{
  background-color: #FBCF05;
  color: #ffff;
  padding: 10px;
  position: relative;
  text-align: center;
  margin-left: 1%;

}
.boton:hover{
  color: white;
  background-color: #FF4A23;
}

.networks{
  border-radius: 50%;
}


/*Seccion-9*/
.banner{
  width: 100%;
  background-size: cover;

}