.container-product{
    padding: 15px;
  }


html{
  @media screen and (max-width: 540px) {
    font-size: 8px;
    
  }
}


div#seccion-1{
  width: 100%;
  min-height: 610px;
  max-height: 610px;
  display: flex;
  background-image: url(../img/fondo.png);
  background-size: cover;
}

.img{
  max-width: 100%;
  max-height: 500px; /* Ajusta según tus necesidades */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 320px;
  object-position: contain;
  object-fit: contain;
  transform: rotate(20deg);

}
.img-1{
  max-width: 100%;
  max-height: 500px; /* Ajusta según tus necesidades */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 320px;
  object-position: contain;
  object-fit: contain;
  z-index: 999;

}

#mesa{
  max-width: 100%;
  max-height: 500px; /* Ajusta según tus necesidades */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 320px;
  object-position: contain;
  object-fit: contain;
  margin-top: -50%;
}


#text{
  width: 100%;
  height: 100px;
  min-height: 50px;
  max-height: 80px;
  z-index: 999;
  position: relative;
  margin-top: -20%;
}


.start{
  width: 100%;
}


div#seccion-2{
  max-height: 350px;
  min-height: 210px;
  background-image: url(../img/Imagen2.webp);
  background-position: center;
  background-size: cover;
  width: auto;
  height: 500px;
  position: relative;
}


div#seccion-3{
  width: 100%;
  max-height: 500px;
  min-height: 200px;
  background-image: url(../img/fondoMesa\ de\ trabajo\ 1.png);
  background-size: cover;
}

div#seccion-4{
  background-color: #ffff;
  width: 100%;
  height: 550px;
  background-image: url(../img/image.png.png);
  background-size: cover;
  min-height: 200px;
  position: relative;
}  





div#seccion-5{
    width: 100%;
    max-height: 450px;
    min-height: 210px;
    position: relative;
    display: flex;
    background-image: url(../img/azul\ fondo\ Mesa\ de\ trabajo\ 1.png);
    background-size: cover;
}


div#seccion-6{
  height: 30em;
  background-image: url(../img/novedadesMesa\ de\ trabajo\ 1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 110%;
}

div#cuadro-text{
  width: 30%;
  max-width: 100%;
  max-height: 60px; 
  margin-top: -19%; 
  margin-left: 35%; 
  font-family: arial;
}



  .boton{
    background-color: #FBCF05;
    color: #ffff;
    padding: 10px;
    text-decoration: none;
    position: relative;
    text-align: center;
    margin-left: 1%;

}
.boton:hover{
    color: white;
    background-color: #FF4A23;
}















