body{
    width: 1349px;
    height: 5050px;
}


div#General{
    width: 1349px;
    height: 5050px;
    background-color: #FEB902;
    overflow: hidden;
}

div#main{   
    width: 1349px;
    height: 698px;
    position: relative;
}

div#texto-1{    
    background: radial-gradient(#AA2103,#FF4A23 );
    position: relative;
    margin-top: -650px;
    margin-left: 25px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;  
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 50px;
    line-height: 130px;
    animation-name: mtexto;
    animation-duration: 2s;
}

@keyframes mtexto{
    0% { opacity: 0%; right: 50px;}
    100% { opacity: 100%; right: 0px;}
}

.btn{
    background-color: #ffff;
    color: #AA2103;
    cursor: pointer;
    border: 2px solid #AA2103;
}
.btn:hover{
    color: white;
    background-color: #FF4A23;
}



div#imagen-1{
    margin-top: -365px;
    margin-left: 800px;
    position: relative;
    transform: rotate(15deg);
    animation-name: movimiento;
    animation-duration: 2s;

}

@keyframes movimiento {
    0% { opacity: 0%; left: 90px;}
    100% { opacity: 100%; left: 0px;}

}
div#papas{
    position: absolute;
    
}

div#seccion-1{
    margin-top: 45px;
    height: 650px;
    width: auto;
}


div#imagen-2{
    transform: rotate(40deg);
    margin-top: -515px;
    margin-left: -50px;
    width: 35%;
    height: 67%;
    position: relative;
}

div#imagen-3{
    transform: rotate(40deg);
    margin-top: -415px;
    margin-left: 260px;
    width: 35%;
    height: 67%;
    position: relative; 
}

div#imagen-4{
    transform: rotate(29deg);
    margin-top: -405px;
    margin-left: 560px;
    width: 35%;
    height: 67%;
    position: relative; 
}


div#imagen-5{
    margin-top: -645px;
    margin-left: 900px;
    width: 25%;
    height: 67%;
    position: relative; 
}

div#imagen-6{
    margin-top: -355px;
    margin-left: 820px;
    width: 35%;
    height: 67%;
    position: relative;   
}


div#seccion-2{
    margin-top: -50px;
    width: auto;
    height: 500px;
    position: relative;
}


div#seccion-3{
    width: auto;
    height: 500px;
    position: relative;
}

.btn-1{
    margin-left: 620px;
    margin-top: -85px;
    width: 115px;
    height: 30px;
    background-color: #ffff;
    color: #AA2103;
    cursor: pointer;
    border: 2px solid #AA2103;
    position: relative;
}
.btn-1:hover{
    color: white;
    background-color: #FF4A23;
}


div#seccion-4{
    margin-top: -1%;
    background-color: #ffff;
    width: auto;
    height: 550px;
    position: relative;
}

div#seccion-5{
    width: auto;
    height: 450px;
    position: relative;
}

div#seccion-6{
    height: 30em;
    background-image: url(../img/novedadesMesa\ de\ trabajo\ 1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 110%;
}

div#seccion-7{
    width: auto;
    height: 300px;
    position: relative;

}

div#seccion-8{
    box-sizing:border-box;
    padding: 1em;
    font-family: arial;
    border: none;
}

.boton{
    background-color: #FBCF05;
    color: #ffff;
    padding: 10px;
    position: relative;
    text-align: center;
    margin-left: 1%;

}
.boton:hover{
    color: white;
    background-color: #FF4A23;
}


div#logo-2{
    display: flex;
    margin-top: 5px;
    margin-left: 30%;
}

.imagen-2{
    display: flex;
    position: relative;
    width: 30px;
    margin: 2px;
    border-radius: 50%;
}

