*{
 margin: 0px;
 padding: 0px;
}

div#General{
    width: 1349px;
    height: 5050px;
    background-color: #FEB902;
    overflow: hidden;

    /*overflow: hidden;  POR REVISAR   */
}
/*Inicio de footer y Nav*/
header {
    width: 100%;
    height: 18vh;
}

#logo{
width: 21%;
height: 100%;
position: relative;
margin-top: -9%;

}

#nav{
width: 67%;
height: 100%;
margin-top: -120px;
margin-left: 19%;



}

.menu {
width: 89%;
height: 9%;
display: flex;
padding: 50px;
margin-left: 4%; 
font-family: "Bebas Neue", sans-serif;
font-weight: 400; 
font-size: 31px;
color: #000;
position: relative;

}

li ul{
display: none;
margin-top: 0px;
}

li:hover ul{
display: block;

}

.inicio{
color: #000;
margin-top: none;
}
.inicio:hover{
color: #FF4A23;
margin: none;
}

#redes{
display: flex;
width: 10%;
height: 40%;
float: right;
margin-top: -5%;
margin-right: 3%;
position: relative;

}

.imagen{
width: 40px;
margin: 0 3px;
border-radius: 50%;

}

/*Fin de Footer and Nav*/

div#main{   
    width: 1349px;
    height: 698vh;
    position: relative;
}

.btn-wsp{
    position: fixed;
    width: 190px;
    height: 90px;
    line-height: 55px;
    bottom: 30px;
    right: 50px;
    border-radius: 12px;
    text-align: center;
    z-index: 100;
}

div#texto-1{    
    padding-left: 50PX;
    background: radial-gradient(#AA2103,#FF4A23 );
    position: relative;
    margin-top: -620px;
    margin-left: 15px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 100EM; 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 50PX;
    line-height: 130px;
    animation-name: mtexto;
    animation-duration: 2s;
}

@keyframes mtexto{
    0% { opacity: 0%; right: 50px;}
    100% { opacity: 100%; right: 0px;}
}

.btn{
    background-color: #ffff;
    color: #AA2103;
    cursor: pointer;
    border: 2px solid #AA2103;
}
.btn:hover{
    color: white;
    background-color: #FF4A23;
}



div#imagen-1{
    margin-top: -375px;
    margin-left: 760px;
    position: relative;
    transform: rotate(15deg);
    animation-name: movimiento;
    animation-duration: 2s;

}

@keyframes movimiento {
    0% { opacity: 0%; left: 90px;}
    100% { opacity: 100%; left: 0px;}

}
div#papas{
    position: absolute;
}

div#seccion-1{
    margin-top: 45px;
    height: 650px;
    width: auto;
}


div#imagen-2{
    transform: rotate(40deg);
    margin-top: -515px;
    margin-left: -50px;
    width: 25%;
    height: 67%;
    position: relative;
}

div#imagen-3{
    transform: rotate(40deg);
    margin-top: -415px;
    margin-left: 260px;
    width: 25%;
    height: 67%;
    position: relative; 
}

div#imagen-4{
    transform: rotate(29deg);
    margin-top: -405px;
    margin-left: 560px;
    width: 25%;
    height: 67%;
    position: relative; 
}


div#imagen-5{
    margin-top: -645px;
    margin-left: 900px;
    width: 25%;
    height: 67%;
    position: relative; 
}

div#imagen-6{
    margin-top: -355px;
    margin-left: 820px;
    width: 35%;
    height: 67%;
    position: relative;   
}


div#seccion-2{
    margin-top: -50px;
    width: auto;
    height: 500px;
    position: relative;
}


div#seccion-3{
    width: auto;
    height: 500px;
    position: relative;
}

.btn-1{
    margin-left: 620px;
    margin-top: -85px;
    width: 115px;
    height: 30px;
    background-color: #ffff;
    color: #AA2103;
    cursor: pointer;
    border: 2px solid #AA2103;
    position: relative;
}
.btn-1:hover{
    color: white;
    background-color: #FF4A23;
}


div#seccion-4{
    margin-top: -1%;
    background-color: #ffff;
    width: auto;
    height: 550px;
    position: relative;
}

div#seccion-5{
    width: auto;
    height: 450px;
    position: relative;
}

div#seccion-6{
    height: 30em;
    background-image: url(../img/novedadesMesa\ de\ trabajo\ 1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 110%;
}

div#seccion-7{
    width: auto;
    height: 300px;
    position: relative;

}

div#seccion-8{
    box-sizing:border-box;
    padding: 1em;
    font-family: arial;
    border: none;
}

.boton{
    background-color: #FBCF05;
    color: #ffff;
    padding: 10px;
    position: relative;
    text-align: center;
    margin-left: 1%;

}
.boton:hover{
    color: white;
    background-color: #FF4A23;
}


div#logo-2{
    display: flex;
    margin-top: 5px;
    margin-left: 30%;
}

.imagen-2{
    display: flex;
    position: relative;
    width: 30px;
    margin: 2px;
    border-radius: 50%;
}

#menu {
    width: 700px;
    height: 35px;
    display: flex;
    margin-left: 330px;
    margin-top: -60px; 
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 31px;
    position: relative;
    color: #000;
}

li ul{
    display: none;
}

li:hover ul{
    display: block;
}

.inicio{
    color: #000;
}
.inicio:hover{
    color: #FF4A23;
}
