.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
.navbar{
  background-image: url('../img/31cf39_0a52ef63125b4bdeb6b244610d783645~mv2.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400; 
  font-size: 31px;
  color: #000;
}
.navbar-nav {
text-align: center;
}

.navbar-nav .nav-item {
margin: 0 15px;
}

.dropdown-submenu {
position: relative;
}

.dropdown-submenu a::after {
transform: rotate(-90deg);
position: absolute;
right: 6px;
top: .8em;
}

.dropdown-submenu .dropdown-menu {
top: 0;
left: 100%;
margin-left: .1rem;
margin-right: .1rem;
}

.imagen{
  border-radius: 50px;
}