@font-face {
  font-family: 'JOckey one'; /* Nombre que quieres darle a la fuente */
  src: url('fonts/JockeyOne-Regular.ttf') format('truetype'); /* Ruta y formato de la fuente */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima nova'; /* Nombre que quieres darle a la fuente */
  src: url('fonts/Fontspring-DEMO-proximanovaexcn-regular.otf') format('opentype'); /* Ruta y formato de la fuente */
  font-weight: normal;
  font-style: normal;
}
h1{
  font-family: JOckey one;
}
.title-product{
  font-family: JOckey one;
}
h3{
  font-family: 'proxima nova';
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
.navbar{
  background-image: url('../img/31cf39_0a52ef63125b4bdeb6b244610d783645~mv2.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400; 
  font-size: 31px;
  color: #000;
}
.navbar-nav {
text-align: center;
}

.navbar-nav .nav-item {
margin: 0 15px;
}

.dropdown-submenu {
position: relative;
}

.dropdown-submenu a::after {
transform: rotate(-90deg);
position: absolute;
right: 6px;
top: .8em;
}

.dropdown-submenu .dropdown-menu {
top: 0;
left: 100%;
margin-left: .1rem;
margin-right: .1rem;
}

.imagen{
  border-radius: 50px;
}

.btn-wsp img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 478px) {
  .btn-wsp img {
    width: 65%;
    height: 65%;
  }
  .btn-wsp {
   right: -25%;
  }
  body { padding-top: 150px !important; }
}
