div#general{
    width: 1348px;
    height: 1500px;
    margin: auto;
    background-color: #ffff;
    position: relative;
    overflow: hidden;
}

.main{
    width: 100%;
    height: 1150px;
    background-color: aqua;
}

div#seccion-1{
    width: 100%;
    height: 550px;
    margin-top: -13px;
    background-color: #fff;
}

.imagen-1{
    width: 35%;
    height: 92%;
    margin-top: 2%;
    margin-left: 15%;
    overflow: hidden;
}

.imagen-1 ul{
    list-style: none;
    display: flex;
    animation: traslader 16s infinite alternate ;
}

@keyframes traslader {
    0%{margin-left: 0%}
    100%{margin-left: -100%}
}

div#texto-1{
    width: 35%;
    height: 48%;
    position: relative;
    margin-top: -35%;
    margin-left: 55%;
}

div#redes-1{
    width: 14%;
    height: 5%;
    margin-top: 4%;
    margin-left: 62%;
    position: relative;
    display: flex;
}

.imagen{
    position: relative;
    width: 40px;
    margin: 0 3px;
    border-radius: 50%;
}

div#seccion-2{
    width: 100%;
    height: 600px;
    position:relative;
}

.btn{
    margin-top: -50%;
    background-color: #fff;
    border: none;
    color: #FF4A23;
    padding: 10px 72px;
    margin: 75px;
    text-decoration: none;
    font-size: 1,4rem;
    border-radius: 17px;
    font-family: sans-serif;

}

.btn:hover{
    color: #fff;
    background-color: #029BDE;

}