.related-product {
  max-width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.content-related-product{
  background-image: url('../img/azul fondo Mesa de trabajo 1.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
}
.related-title .row{
  margin-top: 3%;
}
.related-products{
  margin-top: 5%;
}
.btn-related{
  margin-top: 3%;
  padding: 10px 72px;
  font-family: sans-serif;
}
.btn-related:hover{
  color: #ED0E0E;
  background-color: #25318D;
}

.btn-wsp{
  position: fixed;
  width: 300px;
  height: 150px;
  line-height: 55px;
  margin-left: 1050px;
  bottom: 30px;
  border-radius: 12px;
  z-index: 999;
  right: -1%;
}
@media only screen and (max-width: 478px) {
  .btn-wsp img {
    width: 65%;
    height: 65%;
  }
  .btn-wsp {
   right: -25%;
  }
  .unit-product{
    margin-top: 6% !important;
  }
}